/* ------------------Box Sizing ------------------*/
html{
    box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
        box-sizing:inherit;
    }
    

/* ------------------Colors ------------------



*/
/* ------------------Global Styles ------------------*/

body {
    font-family: 'Noto Sans', sans-serif;
    margin:0;
     }

header.primary{
    background-color:#3b638b;
    text-align:center;
    color:#ffffff;
    text-shadow: 2px 2px #000000;
    padding: 20px 40px;
}

header.primary h1{
    font-size: 3.2rem;
    margin: 20px 0;
}

header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
}

header.primary h2{
    font-size:2em;
    margin: 20px auto 40px;
}

header.primary nav li{
    list-style-type:none;
}
